body {margin:0; padding:0; line-height: 1.4em; word-spacing:1px; letter-spacing:0.2px; font: 13px Arial, Helvetica,"Lucida Grande", serif; color: #000;}
body:after { content: "CIS 3630: http://cis3630.org"; }
main { margin-left: 20px; padding-right: 20px; padding-bottom: 20px}


h1 {color:#000; font-size:20px;}
h2 {color:#000; font-size:20px;}

/* Links */

a:link, a:visited {background: transparent; color:#333; text-decoration:none;}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {content: " (" attr(href) ") "; font-size: 11px;}
a[href^="http://"] {color:#000;} 

/*Image*/
img, img a, .more-link a {border:none;}

/*Remove Element*/
#nav, #header {display:none;}

/*
body * { display: none !important; }
body:after { content: "Don't waste paper!"; }
*/